<div class="wrapper">
  <span matTooltip="Select date to add EVENT">
      <button mat-raised-button [disabled]='!selectedDay'   (click)="openDialog(selectedDay[0])">Add Event</button>
  </span>
  <p class='control-month'>
    <button mat-stroked-button color="primary" (click)="previousMonth()"><</button>
    {{ startDate | dfnsFormat: 'MMMM YYYY' }}
    <button mat-stroked-button color="primary" (click)="nextMonth()">></button>
    <button  mat-raised-button  (click)="getToDayDate()">Today</button>
  </p>
  <table border="1">
    <tr>
      <th>Понедельник</th>
      <th>Вторник</th>
      <th>Среда</th>
      <th>Четверг</th>
      <th>Пятница</th>
      <th>Суббота</th>
      <th>Воскресенье</th>
    </tr>
    <tr *ngFor="let week of updateCalendar | async; let i = index">
      <td *ngFor="let days of week; let n = index" (click)="selectDay(n, days)" [ngClass]="{'selected': days === selectedDay, 'to-day': days[0].day === toDayDate}">
        <p *ngFor="let day of days">
          <span>
            {{ day.day}}
          </span>
          <span>
            {{ day.title}}
          </span>
          <span>
            {{ day.description}}
          </span>
        </p>
      </td>
    </tr>
  </table>
</div>
